/*Nino mtavruli font*/
@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular') format('svg'); /* Legacy iOS */    
}
.bpg-nino{
    font-family: 'BPG Nino Mtavruli';
}
@font-face{
    font-family: "Rafine-medium";
    src: url("../fonts/Rafine\ Medium.otf");
}
.rafine{
    font-family: "Rafine-medium";
}
@font-face{
    font-family: "Rafine-bold";
    src: url("../fonts/Rafine\ Extrabold.otf");
}
.rafine-b{
    font-family: "Rafine-bold";
}